.game-content-container {
  max-height: 80vh;
  overflow-y: scroll;
  font-family: monospace;
}

.game-message-game,
.game-message-player {
  padding-bottom: 1rem;
}

.game-message-player {
  color: var(--color-textAccent);
}

.game-message-game {
}

.input-area {
  display: flex;
  background-color: var(--secondary-color);
  border-radius: 5px;
  overflow: hidden;
  gap: 1rem;
  align-items: start;
  width: 100%;
}

.send-button {
  padding: 1rem;
  cursor: pointer;
}

/** https://css-tricks.com/the-cleanest-trick-for-autogrowing-textareas/ */
.grow-wrap {
  /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
  display: grid;
  width: 100%;
}
.grow-wrap::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-replicated-value) " ";

  /* This is how textarea text behaves */
  white-space: pre-wrap;

  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
}
.grow-wrap > textarea {
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */
  resize: none;

  /* Firefox shows scrollbar on growth, you can hide like this. */
  overflow: hidden;
}
.grow-wrap > textarea,
.grow-wrap::after {
  /* Identical styling required!! */
  border: 1px solid black;
  padding: 0.5rem;
  font: inherit;
  font-family: monospace;
  width: 100%;

  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}
