<link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
<style>
  :root {
    /* app variables */
    --color-textAccent1: #27764b;
    --color-textAccent2: #45acec;

    /** bootstrap variables **/
    --bs-primary: #ff6347; /* Tomato */
    --bs-secondary: #ffa500; /* Orange */
    --bs-accent: #9370db; /* Medium Purple */
    --bs-text: #000000; /* Black */
    --bs-font-monospace: "Courier New", Courier, monospace;
  }

  [data-bs-theme="dark"] {
    /* app variables */
    --color-textAccent1: #87baa8;
    --color-textAccent2: #45acec;

    /** bootstrap variables **/
    --bs-primary: #ff6347; /* Tomato */
    --bs-secondary: #ffa500; /* Orange */
    --bs-accent: #9370db; /* Medium Purple */
    --bs-text: #ffffff; /* White */
    --bs-font-monospace: "Courier New", Courier, monospace;
  }

  .header {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0; /* Add some padding above and below */
  }
  .header h1 {
    margin: 0;
    font-size: 2rem;
    color: var(--color-textAccent1);
  }
  .header .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0.5rem;
  }
  .header .logo-link svg {
    width: 40px;
    height: 40px;
  }
  .header .logo-link:hover svg polygon {
    fill: var(--bs-secondary-color);
  }
</style>
<script>
  if (
    window.matchMedia &&
    window.matchMedia("(prefers-color-scheme: dark)").matches
  ) {
    document.body.setAttribute("data-bs-theme", "dark");
  } else {
    document.body.setAttribute("data-bs-theme", "light");
  }
</script>
