<link
  rel="stylesheet"
  href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
/>
<link
  rel="stylesheet"
  href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap-utilities.css"
/>
<link
  rel="stylesheet"
  href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap-grid.css"
/>
<style>
  :root {
    /* app variables */
    --color-textAccent1: #27764b;
    --color-textAccent2: #45acec;
  }

  [data-bs-theme="dark"] {
    /* app variables */
    --color-textAccent1: #87baa8;
    --color-textAccent2: #45acec;
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 0rem;
  }
  .header h1 {
    margin: 0;
    font-size: 1.5rem;
    color: var(--color-textAccent1);
    flex-grow: 1;
  }
  .header .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0.5rem;
  }
  .header .logo-link svg {
    width: 30px;
    height: 30px;
  }
</style>
<script>
  if (
    window.matchMedia &&
    window.matchMedia("(prefers-color-scheme: dark)").matches
  ) {
    document.body.setAttribute("data-bs-theme", "dark");
  } else {
    document.body.setAttribute("data-bs-theme", "light");
  }
</script>
