<main>
  <div class="container">
    <div class="row">
      <!-- <div class="d-flex justify-content-center col-md">
        <div class="header-hero-img">
          <img src="/static/img/sky-die-2.jpg" alt="Hero Image" />
        </div>
      </div> -->
      <div
        class="col-md order-md-first d-flex flex-row justify-content-center align-items-center"
        style="
          background-image: url('/static/img/sky-die-2.jpg');
          min-height: 500px;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        "
      >
        <div class="bg-black bg-opacity-40 shadow-lg p-4 rounded">
          <a href="/games/">Load Game</a>
          <a role="button" class="btn btn-primary ml-2" href="/games/create"
            >Start Game</a
          >
        </div>
      </div>
    </div>
  </div>
</main>
